#background {
  
  background-image: linear-gradient(to top left, transparent, #2bae66FF), url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80'); 
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 4em 20em 2em 20em;
    border-radius: 5px;
    background-color: white;
    
}

.input {
  border-radius: 5px;
  border:1px solid black;
  margin: 10px 0 10px 0;
  font-family: 'Patrick Hand', cursive;
}

.registerButton {
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border:1px solid black;
  background-color: #2bae66FF;
  color: white;
  font-family: 'Patrick Hand', cursive;
}



