.leftnav {
  background-color: #02353C;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 140px;
  border-radius: 0px 20px 20px 0px;
}

.leftnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 0px, 20px, 20px, 0px;
}

.leftnav a:hover {
  background-color:#C1F6ED;
  color: #02353C;
}

.leftnav a.active {
  background-color:  #2EAF7D;
  color: #02353C;
}
/*#449342, #2EAF7D, #C1F6ED, #02353C, #3FD0C9*/