#wallContainer {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 720px;
  height: 23vh;
  background-color: whitesmoke;
  margin-top: -200px;
  margin-left: 365px;
}

#myPlaceWallTitle {
  width: 30%;
  height: 30px;
  text-align: left; 
  position: relative;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #C1F6ED;
  border-style: hidden;
  margin-top: 10px;
margin-left: -475px;
margin-bottom: 10px;}
  ::placeholder {
    color: #2EAF7D;
    font-size: 15px;
}
#myPlaceWallInput {
  border-radius: 20px 20px 20px 20px;
  width: 695px;
  height: 100px;
  text-align: start; 
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #C1F6ED;
  border-style: hidden;}
  #myPlaceWallInput::placeholder {
    color: #2EAF7D;
    font-size: 15px;
    text-align: start;
}

#wallPosts{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 720px;
  background-color: whitesmoke;
  margin-top: 30px;
  margin-left: 365px;
} 

#wallPostTitles{

}

#wallPostBody{

}  



#postButton {
  border-radius: 20px;
  background-color: #2EAF7D;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 700px;
  margin: 10px 10px 10px 10px;
  height: 30px;
  border-style: hidden;
  text-align: center;
}

#deleteButton {border-radius: 20px;
  background-color: #2EAF7D;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin-left: 570px;
  border-style: hidden;
  text-align: center;
}