#wallContainer {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 720px;
  height: 23vh;
  background-color: whitesmoke;
  margin-top: -200px;
  margin-left: 365px;
}

#wallContainer #myPlaceWallTitle {
  width: 30%;
  height: 30px;
  text-align: left;
  position: relative;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #dbdbdb;
  border-style: hidden;
  margin-top: 10px;
  margin-left: -475px;
  margin-bottom: 10px;
}

#wallContainer #myPlaceWallTitle:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#wallContainer ::-webkit-input-placeholder {
  color: #02353C;
  font-size: 15px;
}

#wallContainer :-ms-input-placeholder {
  color: #02353C;
  font-size: 15px;
}

#wallContainer ::-ms-input-placeholder {
  color: #02353C;
  font-size: 15px;
}

#wallContainer ::placeholder {
  color: #02353C;
  font-size: 15px;
}

#wallContainer #myPlaceWallInput {
  border-radius: 20px 20px 20px 20px;
  width: 695px;
  height: 100px;
  text-align: start;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #dbdbdb;
  border-style: hidden;
}

#wallContainer #myPlaceWallInput:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#wallContainer #myPlaceWallInput::-webkit-input-placeholder {
  color: #02353C;
  font-size: 15px;
  text-align: start;
}

#wallContainer #myPlaceWallInput:-ms-input-placeholder {
  color: #02353C;
  font-size: 15px;
  text-align: start;
}

#wallContainer #myPlaceWallInput::-ms-input-placeholder {
  color: #02353C;
  font-size: 15px;
  text-align: start;
}

#wallContainer #myPlaceWallInput::placeholder {
  color: #02353C;
  font-size: 15px;
  text-align: start;
}

#wallPosts {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 720px;
  background-color: whitesmoke;
  margin-top: 30px;
  margin-left: 365px;
}

#wallPosterName {
  font-family: "Roboto", sans-serif;
  margin: 10px 10px 0px 10px;
  font-size: 14px;
}

#timeStamp {
  font-family: "Roboto", sans-serif;
  margin: 0px 10px 10px 10px;
  font-size: 10px;
}

#line {
  border-bottom: 2px solid #dbdbdb;
  display: block;
}

#wallPostTitles {
  font-family: "Roboto", sans-serif;
  margin: 10px 10px 0px 10px;
  font-size: 16px;
}

#wallPostBody {
  font-family: "Roboto", sans-serif;
  margin: 10px 10px 0px 10px;
  font-size: 14px;
  word-wrap: break-word;
}

#postButton {
  border-radius: 20px;
  background-color: #2eaf7d;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 700px;
  margin: 10px 10px 10px 10px;
  height: 30px;
  border-style: hidden;
  text-align: center;
}

#postButton:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#editButton {
  border-radius: 20px;
  background-color: #2eaf7d;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin: 10px 10px -40px 500px;
  border-style: hidden;
  text-align: center;
}

#editButton:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#deleteButton {
  border-radius: 20px;
  background-color: #2eaf7d;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin: 10px 10px 10px 610px;
  border-style: hidden;
  text-align: center;
}

#deleteButton:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
/*# sourceMappingURL=wall.css.map */