$wallBtnTextColor: white;
$wallBtnTextBackgroundColor: #2eaf7d;
$primaryFont: 'Roboto', sans-serif;
$primaryBackground: whitesmoke;
$lightgreen:#C1F6ED;
$midgreen: #2EAF7D;
$darkgreen: #449342;
$lightblue: #3FD0C9;
$darkblue: #02353C;
$white: whitesmoke;