
.input {
  border-radius: 5px;
  border:1px solid black;
  margin: 10px 0 10px 0;
  font-family: 'Patrick Hand', cursive;
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.registerButton {
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border:1px solid black;
  background-color: #2bae66FF;
  color: white;
  font-family: 'Patrick Hand', cursive;
 
}

